@tailwind base;
@tailwind components;
@tailwind utilities;


/* for Full Website  */
@font-face {
  font-family: poppins;
  src: url('./fonts/Poppins-Regular.woff');
}

/* font for logo  */
@font-face {
  font-family: mont-logo;
  src: url('./fonts/Montserrat-Regular.woff');
}

.logo{
  font-family: mont-logo;
}

/* :root {
  --background: #44444c;
  --foreground: #44444c;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
